#left-column  { float: left; width: 230px; margin: 0.1em 1em; line-height: 1.1em;
                border-style: dashed; border-width: 0.2em; padding: 0.5em }
#right-column { float: left;  margin: 0.1em 1em; line-height: 1.1em;
                /*border-style: dashed; border-width: 0.1em;*/ }
                border-style: dashed; border-width: 0.2em; }

#head {margin: 1em 0.5em;}

.activity_box { width: 1em; height: 1em; margin: 0 auto; }
#true  { background-color: #33CC00; }
#false { background-color: red; color: white;}
#weekend { background: #6495ED; color: white;}
#divider { background: #D2691E; color: white;}

