#left-column  { float: left; width: 230px; margin: 0.1em 1em; line-height: 1.1em;
                border-style: dashed; border-width: 0.2em; padding: 0.5em }
#right-column { float: left;  margin: 0.1em 1em; line-height: 1.1em;
                /*border-style: dashed; border-width: 0.1em;*/ }
                border-style: dashed; border-width: 0.2em; }

#head {margin: 1em 0.5em;}

table { -moz-border-radius: 0.5em;
        border:medium; border: solid; border-color:#E6E1DC;
       }

  td,th {
        padding: 0.4em; /* Поля вокруг текста */
        -moz-border-radius: 0.3em;
        border: 0.1em solid #CFE9D5; /* Граница вокруг ячеек */
        }

.activity_box { width: 1em; height: 1em; margin: 0 auto; }
#true  { background-color: #33CC00; }
#false { background-color: red; color: white;}

.weekend { background: #6495ED; color: white;}
#divider { background: #526F14; color: white;}
#search_by_skill {border-style:dotted; border-width:0.1em;
                  width:160px;
                  padding:0.2em; margin-bottom:-1em;}

.current_day { background: #BDB76B; color: white; }

tr#date {display: none;}

tr.employee td.bookable { cursor:pointer; }

#redbox {display: none; margin: 0 auto; margin-left: -70%;}

.modal_box {width: 200px; height: 400px; background: white;}

.modal_label {color: black; font-size: 1em; margin: 0 auto;}

.modal_bottom {position: relative; top: 250px; background: grey;}

.padded {padding-top: 2em;}
.modal_input {margin-left: 15px; float: left; padding-top: 2em;}

#employee_name {top: 20px;}

.shadow {
  -moz-box-shadow: 5px 5px 5px #000;
  -webkit-box-shadow: 5px 5px 5px #000;
  box-shadow: 5px 5px 5px #000;
}

.clear_left {clear: left;}

