<p>
  <b>Name:</b>
  <%= @department.name %>
</p>

<p>
  <b>Is active:</b>
  <%= @department.is_active %>
</p>


<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
